.card{
  background-color:rgba(195, 227, 133, 0.9) ;
  max-width:200px;
  border:2px solid black;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 2px;
  margin:5px;
  display:inline-block;
  height:auto
  

} 
/* .card img{
 width:200px;
 border:2px solid black; */
.card img {
  width: 200px;          
  height: 250px;        
  object-fit: cover;     
  border-radius: 10px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px;

}


/* .delete{
  border-radius: 50px;
  border: 2px solid black;
  color: rgb(128, 52, 50);
} */
 image{
  border:2px solid rgb(241, 51, 51);
  width:200px;
 }